@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

body {
font-family: 'Stick No Bills', sans-serif;
background-color: rgb(80, 79, 80)
}

.title-color {
  color: rgb(187, 187, 187);
}
